body{
  background-color: #dad7cd;
} 

h1:hover { 
  text-align: center;
  margin: 10px;
  color: blue;
}
h2 { 
  text-align: end;
  margin: 10px;
}

.GridItemMain {
  color: black;
  padding: 2rem;
}