body{
  background-color: #dad7cd;
} 

h1 { 
  text-align: center;
  margin: 10px;
}
h2 { 
  text-align: end;
  margin: 10px;
}

.ImgAlbum {
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

.ImgItem {
  background-color: #588157;
  width: 200px;

  display: inline-block;
  text-align: center;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
}

.ImgAlbum img {
  max-width: 100%;
  border-radius: 10px;
}

.ImgAlbum p {
  padding: 5px;
  font-size:small;
}

/* Debugging */
/*
.ImgAlbum {
outline: 2px solid red;
}
*/